/* Font Google Poppins */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Add styles here */
* {
    margin: 0;
    padding: 0;
    font-size: 62.5%/18px Arial, sans-serif;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: #f0f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
}
/* main */
main.main {
    height: calc(100vh - 70px);
    margin-top: 70px;
    max-width: 100vw; 
}
main.main .rectagle {
    position: relative;
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-top-right-radius: 10%;
}
main.main .rectagle h2 {
    font-size: 3rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #3E54A3;
}
main.main .rectagle p {
    font-size: 1rem;
    margin-top: 15px;
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    line-height: 1.5;
}
section.content {
    width: 80%;
    padding: 70px 80px 0px 0px;
    box-sizing: border-box;
}
main.main .rectagle p strong {
    text-decoration: underline;
    font-weight: 700;
    color: #525050;
}
main.main .rectagle .hero {
    margin-top: 60px;
}
main.main .rectagle .hero img {
    width: 85%;
    height: 85%;
}
main.main .rectagle article p {
    padding: 0 25px 0 0;
    box-sizing: border-box;
}
.favicon {
    position: absolute;
    top: -60px;
    left: 50px;
}
.favicon img {
    width: 144px;
    height: 144px;
}
/* Frame */
main.main .frame {
    flex: 1;
    display: flex;
}
.frame .container {
    width: 80%;
    margin: auto;
}
.frame .container .sidebar-satu {
    display: flex;
    transform: translateY(-30px);
}
.sidebar-satu .icon {
    flex: 1;
    display: flex;
}
.icon img {
    margin: auto;
}
.design-satu {
    flex: 3;
    height: 150px;
}
.design-satu h3 {
    padding-bottom: 20px;
}
.design-dua {
    flex: 3;
    height: 150px;
}

.frame .container .sidebar-dua {
    display: flex;
    border-top: 2px solid rgba(0, 0, 0, .3);
}
.sidebar-dua .icon {
    flex: 1;
    display: flex;
}
.design-dua {
    flex: 3;
}
.design-dua h3 {
    margin-top: 20px;
    padding-bottom: 20px;
}


/* Responsive */
@media (min-width: 600px){
    main.main {
        display: flex; 
    }
}